name: Deploy to InfinityFree

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./ 
        server-dir: ${{ secrets.FTP_REMOTE_DIR }}/  # 加尾 /，表示目录
        exclude: |
          **/.git*
          **/.github/**
          README.md
          .gitignore
          LICENSE
          node_modules/**
        dry-run: false
